/* --------------------------------------HEADER------------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: #db9703ee;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.head-logo {
    width: 80px;
    border-radius: 50%;
}

.head-inp {
    height: 40px;
    border-radius: 50px;
    width: 50%;
    margin: 0px 10px;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid #db9703ee;
}

.head-inp::placeholder {
    padding-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul li {
    margin: 0px 10px;
}
/* ---------------------------FILTER_BUTTON------------------------------ */



/* ---------------------------BODY------------------------------ */





.res-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}


.cart {
    height: 350px;
    width: 250px;
    background-color: rgb(255, 250, 250);
    border-radius: 20px;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 10, 0.123);
    text-align: start;
    overflow-wrap: break-word;

}

.cart:hover {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px 10px;
    box-shadow: 0px 7px 12px 5px #6a6a9261;

    .cart-img {
        margin: 10px auto;
    }

}

.cart-img {
    width: 150px;
    border-radius: 20px;
    display: block;
    margin: auto auto;
}

.cart-details {
    text-align: start;
    margin: 10px 10px;


}

/* ----------------------------------FOOTER------------------------------------ */
.footer {
    height: 50%;

    background-color: #db9703ee;

    font-size: 80px;
    color: white;
    text-align: center;

}




/* ----------------------------------SHIMMER------------------------------------ */


.shimmer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: auto; */
    justify-content: center;
}

.shimmer-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    overflow: hidden;height: 350px;
    width: 250px;
    background-color: rgb(255, 250, 250);
    margin: 20px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 10, 0.123);

}

.shimmer-img {
    display: flex;
    height: 190px;
    width: 190px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: #e5e5e5;
}

.shimmer-name1,
.shimmer-name2,
.shimmer-name3 {
    height: 30px;
    width: 180px;
    margin-top: 10px;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
}


.shimmer-hr {
    height: 35px;
    width: 900px;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 100%);
    transform: rotate(-50deg);
    position: absolute;
    left: -260px;
    top: 170px;
    animation: shimmermove 2s linear infinite;
}

@keyframes shimmermove {
    from {
        left: -500px;
    }

    to {
        left: 180px;
    }
}